sudo: false
language: node_js
node_js:
  - "6.0"
  - "5.0"
  - "4.0"
cache:
  directories:
    - node_modules
notifications:
  email: false
before_script:
  - npm prune
script:
  - npm run test:single
after_success:
  - npm run semantic-release
